<div class="images-search__footer">
  <div class="images-search__limit">
    <span>Per Page</span>
    <select class="form-select" id="limit" (change)="userEventsListener($event)">
      <option value="6">6</option>
      <option value="9">9</option>
      <option value="18">18</option>
    </select>
  </div>

  <div class="images-search__btn-block">
    <button (click)="loadMoreImages($event)" type="button"
    class="images-search__btn">
      <svg-icon class="images-search__svg" src="../../../assets/img/refresh.svg"
      [svgStyle]="{'width.px': 24}">
      </svg-icon>
      MORE
    </button>
  </div>
</div>
