
.images-search{

  &__body{
    margin: 0 auto;
    max-width: 70%;
  }

  &__selects-block-grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
		grid-template-columns: repeat(2, minmax(auto, 400px));
		grid-template-rows: (2, minmax(44px, auto));
		grid-auto-rows: minmax(44px, auto);
		row-gap: 1.8em;
		column-gap: 3rem;
    margin: 0 auto 2.3em auto;

    > div > span {
      color: rgba(0, 0, 0, 0.664);
      display: block;
      padding-left: 0.6rem;
      margin-bottom: 0.3rem;
    }
  }
  &__wrapper{
    display: grid;
		grid-template-columns: repeat(3, 200px);
		grid-template-rows: (3, minmax(200px, auto));
		grid-auto-rows: minmax(44px, auto);
		row-gap: 1.6em;
		column-gap: 1.6em;
    margin: 0 auto 2.3em auto;
    justify-content: space-around;
  }
  &__img{
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  &__footer{
    display: flex;
    max-width: 50%;
  }
    &__limit{
      width: 70%;
      margin-right: 4em;
      span{
        color: rgba(0, 0, 0, 0.664);
        display: block;
        padding-left: 0.6rem;
        margin-bottom: 0.3rem;
      }
  }

  &__btn{
    margin-top: 12px;
    position: relative;
    min-width: 140px;
    background-color:rgba(238, 163, 175, 0.603);
    font-size: 15px;
    height: 42px;
    padding: 0 32px;
    padding-right: 10px;
    line-height: 120%;
    border-radius: 5px;
    font-weight: 600;
  }
  &__svg{
    position: absolute;
    left: 22px;
    top: 13px;
  }

}
