<div class="images-search__selects-block-grid-container">

  <div class="images-search__order">
    <span>Order</span>
    <select class="form-select" id="order">
      <option>Random</option>
    </select>
  </div>

  <div class="images-search__type">
    <span>Type</span>
    <select class="form-select" id="type" (change)="userEventsListener($event)">
      <option value="jpg">All</option>
      <option value="png">Static</option>
      <option value="gif">Animated</option>
    </select>
  </div>

  <div class="images-search__category">
    <span>Category</span>
    <select class="form-select" id="category" (change)="userEventsListener($event)">
      <option [value]="-1">None</option>
      <option [value]="catCategory.id" *ngFor="let catCategory of getCatsCategories$ | async">
        {{catCategory.name}}
      </option>
    </select>
  </div>

  <div class="images-search__breeds">
    <span>Breed</span>
    <select class="form-select" id="breeds" (change)="userEventsListener($event)">
      <option [value]="-1">None</option>
      <option [value]="catBreed.id" *ngFor="let catBreed of getCatsBreeds$ | async">
        {{catBreed.name}}
      </option>
    </select>
  </div>

</div>
