<div *ngIf="catImage$ | async as catData">

  <div *ngIf="loading">
    <svg-icon [stretch]="true" src="../../../assets/img/spinner-loading.svg" class="_svg"
      [svgStyle]="{'width.px': 250}">
    </svg-icon>
  </div>

  <div *ngFor="let catImage of catData">
    <div class="vote__main">
      <div class="vote__body">

        <app-vote-buttons class="vote__btns-block"
        [catImageId]="catImage.id"></app-vote-buttons>

        <div class="vote__cat-img">
          <img class="vote__cat-image" [src]="catImage.url" alt="cat">
        </div>
      </div>
    </div>
  </div>

</div>
